/** Add css rules here for your application. */

.christmas
{
	background-image: url("xmasbackground.jpg");
	background-repeat: no-repeat;
	background-origin: border-box;
	background-size: 100%;
	background-position: bottom;
}

.xmas
{
	background-image: url("xtrip.png");
	background-repeat: repeat;
}

.productListingHeader
{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.cartPanel
{
	background-color: white;
	border: 3px solid orange;
	padding: 20px;
	border-radius: 15px;
}


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}


.carousel-control{width:10%!important}
/*.carousel-control.left {background-image:none!important; background-color:blue!important;}
.carousel-control.right {background-image:linear-gradient(to right, rgba(0,0,1,0.5) , rgba(0,1,0,0.5))!important;}
*/

.carousel-indicators li{background-color: grey!important; opacity:0.5}
.carousel-indicators .active{opacity:1!important; background-color: white!important}
.carousel-indicators {bottom:10px!important}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
